/* variables */

:root {
	--color-text: white;
	--color-background: black;
	--color-gallery-background: gray;
	--color-pagination: green;
	--color-pagination-hover: yellow;
	--color-pagination-active: red;

	--container-width: 50rem;
	--container-padding-x: 0.9375rem;

	--transition-duration: 0.5s;
}

/* normalize */

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	border: 0;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-width: 100%;
}

html {
	height: 100%;
	min-width: 20rem;
	scroll-behavior: smooth;
}

body {
	height: 100%;
}

input,
textarea,
select,
button {
	font: inherit;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1;

	color: var(--color-text);
	background-color: var(--color-background);
}

/* utils */

.wrapper {
	overflow: hidden;
	min-height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.slider {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	overflow: hidden;
}

/* gallery */